.container {
  margin: 30px;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.row {
  display: grid;
  grid-gap: 10px 30px;
  background-color: #F3F5F6;
}

@media (min-width: 768px) {
  .row { 
    grid-template-columns: auto auto;
  }
}

@media (min-width: 992px) {
  .row { 
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1200px) {
  .row { 
    grid-template-columns: auto auto auto;
  }
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}